concurrent = 1
check_interval = 0

[session_server]
    session_timeout = 1800

[[runners]]
    name = "Docker Runner on {{ ansible_hostname }}"
    url = "https://gitlab.luk3rr.com"
    clone_url = "https://gitlab.luk3rr.com"
    id = 3
    token = "{{ gitlab_runner_token }}"
    executor = "docker"

[runners.docker]
    tls_verify = false
    image = "docker:stable"
    privileged = true
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    volumes = ["/cache", "/var/run/docker.sock:/var/run/docker.sock"]
    shm_size = 0
    environment = ["DOCKER_BUILDKIT=1"]