.idea

# Ansible
**/group_vars/
**/app_secrets/
**/secrets.yml
**/fetched*
**/collections*

# Terraform
**/.terraform
**/.terraform.lock*
**/terraform.tfvars
**/*.tfstate
**/*.tfstate.backup

# ETC
**/.env
**/*.pub
